
@font-face {
font-family: 'Courgette';
font-style: normal;
font-weight: 400;
src: url(../bootstap/fonts/Courgette-Regular.ttf) format('truetype');
}/*-------------------------------------------*/

/*
*/
.social-container{

margin-top: 0px;
padding-top: 0px;
}

.grad
{
  background: -moz-linear-gradient(120deg,#00c4cc 25%,#6e4593 85%);
  background: -o-linear-gradient(120deg,#00c4cc 25%, #6e4593 85%);
  background: -webkit-linear-gradient(120deg,#00c4cc 25%, #6e4593 85%);
   color: white;
   opacity: 0.95;

}

.transparent
{
  background-color: transparent;
  font-style: bold;
  
}

.grad-purpel
{
  background: -moz-linear-gradient(120deg,#B993D6 25%,#8CA6DB 85%);
  background: -o-linear-gradient(120deg,#8CA6DB 25%, #8CA6DB 85%);
  background: -webkit-linear-gradient(120deg,#8CA6DB 25%, #8CA6DB 85%);
   color: white;
   opacity: 0.95;
}

.header
{

height: 70vh;
min-height: auto;
width: 100%;
  /*linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),*/
background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../img/care-1.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
  
background-position: center;
background-size: cover;



}
nav a i {

}
nav a.logo-nav
{
  font-family: 'Courgette' !important;
  font-size: 37px !important;
  animation-delay: 2s;
 -webkit-animation: ease-in; 
 width: 200px;
 height: 100px;
 background-image: url("../img/logo.png");
 background-repeat: no-repeat;
 text-indent: -99999px;

}

nav.middle
{
margin-top:0px;
border-bottom-left-radius: 30px;
color: #8c8c8c !important;
border: 0px ;
padding-left: 60px;
padding-right: 20px;
padding-bottom: 0px;
margin-bottom: 0px;
border-bottom: 4px solid #F89406;
height: 65px;

}
nav.middle, .social-container{
background-color: #e6e6e6;
background-image: url("../img/pattern-5.png");
}
nav.navbar li a
{
  padding-left: 4px;
  padding-right: 4px;
}
ul.lang
{
  background-color: transparent;
  padding: 3px;
  text-align: left; !important;
}
ul.lang li
{
  padding: 3px !important
}
ul.lang li a
{
  font-size: 14px !important;
  padding: 2px !important;
  margin: 0px;
}
/*.top-nav li.dropdown:foucs, .top-nav li.dropdown:hover
{
 
}*/



/*============nav stylying ends ============*/
.paragraph2
{
font-family: 'Droid Arabic Kufi';
font-size: 33px;
font-weight: 400px !important;
}

nav.middle li a, nav.middle .navbar-brand
{
color: black !important;
font-family: 'Lato', Arial, sans-serif;

font-size: 20px;
/*line-height: 145%;*/
word-spacing: 4px;
font-weight: 390em;
}


.navbar-nav .middle li a 
{
transition: background-color 0.4s, border-radius 0.5s ,ease-in-out;
/*color: #595959 !important;*/

}
ul li 
{
margin: 3px;
}
/*
transition: background-color 0.4s, border-radius 0.5s ,0.3s ease-in-out;
note: border-botton has been added ;
transform: scale(1,1);
*/
.middle .navbar-nav  li a:hover,.middle .navbar-nav  li a:visited,.middle .navbar-nav li a:active
{
background-color: #ff5c33 !important;
border-radius: 18px;
}
.main-text{
  -webkit-animation-duration: 5s;
  -webkit-animation-delay: 1s;

  
}
/*==== services ====*/
.services {
    font-size: 23px;
    line-height: 30px;
   
    
}
.circle
{
border: 2px solid #9b59b6;
border-radius: 50%;
padding: 2px;
width: 44px;
height: 44px;
text-align: center;
display: inline-block;
margin-top: 3px;
}
.circle span
{
margin-top: 7px;
}
li div.circle
{
transition: background-color 0.4s;
}
li div.circle:hover, li div.circle a:hover, li div.circle:active, li div.circle:link, li div.circle:focus,li div.circle span:hover
{
background-color: #34495e !important;
}
ul.nav-events:last-child
{
margin-right: 20px;
}
.header-ico:visited, .header-ico:active, .header-ico:focus, .header-ico:link
{
text-decoration-style: none !important;
text-underline-position: none !important;
text-decoration: none !important;
background-color: transparent !important;
}

body
{


}
/*animation start*/
.slideanim
{
  visibility: hidden;
}
.slide
{
  
}
@keyframes
{

}
/*animation end*/
@media only screen and (max-width: 1200px)
{
 .col-expand
 {
  
  width: 25%;
  
 }
 nav.navbar li a {
  font-size: 15px;
 }
}
@media only screen and (max-width:1023px )
{
.col-expand
 {
  
  width: 356px;
  height: 356px;
 }
 nav.navbar li a {
  font-size: 15px;

 }
}

@media only screen and (max-width:900px )
{
.col-expand
 {
  
  width: auto;
  height: auto;
 }
 nav.navbar li a {
  font-size: 15px;

 }

}

@media only screen and (max-width:768px )
{
  .nav.navbar-nav li a {
          padding: 10px 1px !important;
  }
  .col-expand
 {
  
  width: auto;
  height: auto;
 }
 nav.navbar li a {
  font-size: 20px;

 }

}
@media only screen and(max-width:580 )
{

}

@media only screen and (max-width:480px )
{
.carousel-caption/*, p.slider-title1*/
{ 
  
 
  letter-spacing: 1px;
  /*-webkit-animation-delay:1s;*/
  -webkit-animation-duration: 3s;
  margin-right: auto;
  font-size: 33px !important;
  top: 90px !important;
  width: 100%;
  text-align: center;
  height: auto;
  line-height: 45px !important;
  padding: 0px;
  border-width: 0px;
  left: 0px !important;
  opacity: 1;
  transform: rotate(0deg) scale(1, 1);
  margin-left: 0px !important;
  margin-top: 0px !important;
  display: block;
  visibility: visible;
  text-transform: uppercase;
}
p.slider-title1
{
  padding-top: 10px;
}
img.about-image {
  width: 300px;
  height: 280px;
  }

  h2.flash
  {
      font-size: 90% !important;
  }
.header
  {
      
     
      
      background-attachment: fixed;

      background-position: center;
      



  }
  .col-expand
 {
  
  width: auto;
  height: auto;
 }
 .social .number{
  font-size: 16px !important;
 }
}
.home
{
overflow: hidden;
}

.container.nav-container
{

}
.social
{
display: block;
text-align: right;
width: 100%;
padding-right: 40px;
padding-bottom: 0px;
margin-bottom: 0px;
margin-top: 0px;

}
.social .facebook-btn, .social .instegram-btn, .twitter-btn, .in-btn,.number
{

display: inline-block;
color: #ecf0f1;
font-size: 20px;
margin-right: -4px;
padding-left: 10px;
padding-right: 10px;
}
.in-btn
{
margin-right: 1px;
}
.social .facebook-btn, .twitter-btn
{
background-color: #ff471a;

}
.social .instegram-btn,.social .in-btn
{
background-color: #ff9980;
}

.social a
{
color:#ffffff;
box-sizing: border-box;
text-decoration: none;
}
.social .number{

color: black;
padding-bottom: 0px;
text-align: left;
margin-bottom: 0px;

font-size: 20px;
font-style: bold;


}
.social .number i{

color: #ff5c33;
font-size: 150%;
}


/*
header styling bootstrap-carousel-swipe.js
*/

/*
#00d2ff
*/
/*
title
*/
/*======================== carousel styling ===================*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
width: 100%;
margin: auto;
height: 100vh;
padding: 0px;
}
.right.carousel-control, 
.left.carousel-control 
{
visibility:hidden;
}
/*-------------------------------- */
.cd-text-replace {
/* replace text with image */
color: transparent;
text-indent: 100%;
overflow: hidden;
white-space: nowrap;
margin-bottom: 50px;
}
/* button scroll styling */
/* nav container*/
div.nav-container
{

}
section.second
{
padding-top: 10px;
overflow: hidden;

}
section.slider
{
  height: 100vh;
  background-attachment: fixed;
  position: relative;
}
.carousel
{ top:0px;
position: absolute;
z-index:-10;
}
nav.nav-bar
{
position: relative;
top: 30px;
z-index: 1000;
background-color: #fff;
padding-top: 10px;

}
img.slider-image
{
   background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
.carousel-caption/*, p.slider-title1*/
{ 
  
 
  letter-spacing: 1px;
  /*-webkit-animation-delay:1s;*/
  -webkit-animation-duration: 3s;
  margin-right: auto;
  font-size: 70px;
  top: 309.68px;
  width: 100%;
  text-align: center;
  height: auto;
  line-height: 91px;
  padding: 0px;
  border-width: 0px;
  left: 149px;
  opacity: 1;
  transform: rotate(0deg) scale(1, 1);
  margin-left: 0px;
  margin-top: 0px;
  display: block;
  visibility: visible;
}
 
 p.slider-title
 {
   -webkit-animation-duration: 3.5s;

 }


p.slider-title1, p.yellow
{ 
 /* -webkit-animation-delay:1.5s;*/
 -webkit-animation-duration: 3.5s;
}
p.yellow
{
  color: yellow;
}

.word-slider
{
  text-decoration: none;
  cursor: none;
  color: yellow;
}
.word-slider-first
{
  text-decoration: none;
  cursor: none;
  color: #8e44ad;
}

/*===== home section ====*/
.wide
{
  padding: 0;
  margin: 0;
}
/*
carousel-img/img-3.jpg #8e44ad
*/

/*-------- about section--------*/
section.about, section.services
{
  
  padding-bottom: 90px;
  padding-top: 60px !important;
}

section.about, section.blog
{
  background-color: #f4f4f4;
}
.about-image
{
  width: auto;
  height: 400px;
 /* padding-top: 10px;*/
  margin-top: 70px;
  -webkit-animation: ease-in;
  -webkit-animation-delay:2s;
}
.about_title, .services-title, .home-message
{
 
  font-size:40px; 
 font-weight: 400px !important;
 padding-bottom: 90px;
}
.home-message 
{
  
  margin-top: 100px;
  
}

.home-message h2#animation
{
  font-size: 190% ;
  color: #e74c3c;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay:1s;
  -o-animation-duration: 3s;
  -o-animation-delay: 1s;
  -moz-animation-duration: 3s;
  -moz-animation-delay: 1s;
  /*-webkit-animation-iteration-count: 3;
  -o-animation-iteration-count: 3; */


  

}
 h1#animation
{

  

}

h1:after
{
  display: block;
  width: 150px;
  height: 2px;
  margin:20px auto;
  content:" ";
  background: -moz-linear-gradient(120deg,#00c4cc 25%,#6e4593 85%);
  background: -o-linear-gradient(120deg,#00c4cc 25%, #6e4593 85%);
  background: -webkit-linear-gradient(120deg,#00c4cc 25%, #6e4593 85%);

}
.about-paragraph
{
  font-family: 'Droid Arabic Kufi';
  font-size:16px;
  line-height: 1.75em;
  margin: 0px;
  padding: 0px;
  word-spacing: 2px;
  line-height: 145%;
  font-weight: 300;
  text-align: justify;
  color: #34495e;
  direction: rtl;
  -webkit-font-smoothing: antialiased;
  margin-top: 70px;
}
.list-about
{
  list-style: none;
  direction: rtl;
  display: block;

  padding: 0;
  padding-top: 30px;
  margin: 0;
/* list-style-image: url('png/ios7-checkmark.png');
 font-size: 16px;*/
 list-style: none outside;



}

ul li.list-item
{
  padding:10px 0 10px 0px;
  right: -45px !important;
  display: list-item;
  border-bottom: 1px solid #bdc3c7;


  
/* blue #3498db */


}
ul li.list-item:last-child
{
  border-bottom: 0px solid gray;

}

ul li.list-item:after
{
  content: '';
  display: block;

  height: 2px;
  width: 0;
  background: transparent;
  transition: width .6s ease, background-color .7s ease;

}
ul li.list-item:hover:after
{

  width: 100%;
  background: #9b59b6;
}

ul li.list-item i
{
  padding-left: 8px;
  color: #4F8EF7;
}
.about-paragraph-list
{
  font-family: 'Droid Arabic Kufi';
  font-size:14px;
  line-height: 1.75em;
  margin: 0px;
  padding: 0px;
   /*  word-spacing: 1px;
  line-height: 145%; */
  font-weight: 300;
  text-align: justify;
  color: #34495e;
  direction: rtl;
  -webkit-font-smoothing: antialiased;

}
/*============= services section =====================*/

.services-paragraph
{

font-size: 20px;
font-weight: 300;
text-align: center;
-webkit-font-smoothing:antialiased;
padding-top: 20px;
color: #34495e;
 padding-bottom:50px;

}

div.features
{
/* padding-bottom: 30px;*/
overflow: hidden;
margin: 0px;
padding-bottom: 20px;
height: 200px;

}
.title-featues, .features-paragraph
{


font-weight: 300;
-webkit-font-smoothing:antialiased;
text-align: center;


}
.title-featues
{
color: #9b59b6;

}

.features-paragraph
{
font-family: 'Droid Arabic Kufi';
font-size: 14px;
color: #34495e;
box-sizing: border-box;
padding-bottom: 0px;
margin-bottom: 0px;
overflow: hidden;
float: none;


}
.featues-icon
{
font-size: 450%;

color: black;
text-align: center;
padding: 0px;
margin: 0px;
display: inline-block;
vertical-align: middle;

}
.bordering
{
border: 1px solid #ecf0f1;
-webkit-transition:background-color 0.7s ease, color 0.7s ease,border-color 0.7s ease, transform 0.8s ease;



}


.bordering:hover, .bordering:active, .bordering:focus 
{
background-color: #2c3e50;
border-color: #2c3e50;



}
.bordering:hover .featues-icon 
{
color: #ecf0f1;
transform: scale(1.1);
opacity: 1;
}
.bordering:hover .features-paragraph
{
color: #95a5a6;

}



.icons-features:first-child
{
padding-left: 40%;
padding-right: 30%;



}
.icons-features:last-child
{



}
.div-paragraph
{
box-sizing: border-box;
}
/*---------- section objectives----------- */
section.objectives
{
background-attachment: fixed;
background-image: ;
background-position: center;
}

section.blog
{

}



.wide
{

  
}
a {
  outline: none;
  color: #3498db;
  text-decoration: none;
}

a:hover, a:focus {
  color: #528cb3;
}

h2#animation
{
  
            
  
}
/*======== portfolio section */

section.portfolio
{
  padding-bottom: 30px;
}
.col-expand
{
padding: 0px;

}
/*==== service section =====*/
.section-services{
  color: #39f !important;
}
.services-info
{

}
.services-details{
  padding: 20px 0 20px;
  margin-top: 4px;

   box-shadow: 0px 0px 10px 1px rgba(209,209,209,1);
   transition: background-color 0.5s, color 0.5s, border 0.2s;
}
.service-text {
  text-align: center;
  font-family: 'Source Sans Pro',sans-serif !important;
  font-style: normal !important;
  font-variant-ligatures: normal !important;
  font-variant-caps: normal !important;
  font-variant-numeric: normal !important;
  font-variant-east-asian: normal !important;
  font-weight: 300 !important;
  font-stretch: normal !important;
  border-bottom: #bdc3c7 solid 0.5px;
  padding: 15px;
  line-height: 30px;
  font-size: 23px;
  color: #555 ;
  transition: color 0.5s, border 0.2s;
}


.services-img
{
  
  max-width: 165px;
 
  padding: 0px
  margin:0px;
  
  border-radius: 50%;
  border: 4px solid #bdc3c7;
  height: 160px;
  box-sizing: border-box;
  cursor: pointer;
  transition: border 0.2s;
}
.services-image{
text-align: center;
}
.services-details:hover  {
 background-color: #34495e;
}
.services-details:hover p {
 
border-bottom: #fff solid 0.5px;
color: #fff !important;
}
.services-details:hover .services-img
{
  border: 4px solid #fff;
}

.servicse-header
{
  color: #34495e;
}
.servicse-header:after
{
   background: -moz-linear-gradient(120deg,#e67e22 25%,#e67e22 85%);
  background: -o-linear-gradient(120deg,#e67e22 25%, #e67e22 85%);
  background: -webkit-linear-gradient(120deg,#e67e22 25%, #e67e22 85%);
}
.services-link{
  text-decoration: none !important;
}
/*===section definition*/
.section-definition
{
  background-color: #ffffff;
  padding-top: 20px;
}
.text-definition
{
 font-size: 47px;
 line-height: 54px;
 color: #F89406;
 text-transform: none;
 margin-bottom: 15px;
}
.full-definition{
font-size: 20px;
line-height: 145%;
color: #555;
font-weight: 300;
font-family: 'Lato', Arial, sans-serif !important; 
text-align: left;
/*width: 70%; */

}
.read-more{
  display: inline-block;
  border-radius: 200px;
  padding: 10px 30px;
  text-decoration: none !important;
  font-weight: 300;
  border: 1px solid #e67e22;
  color: #e67e22!important;
  font-size: 20px;
  transition: background-color 0.5s, color 0.5s, border 0.2s;
}
.read-more:hover{
  background-color: #e67e22;
  color: #fff !important;
}
.left-text-container
{
 box-shadow: 0px 0px 10px 1px rgba(209,209,209,1);
 padding: 20px;
}
.left-text{
  text-align: center ;
  background-color: #ffff;
  text-shadow: 4%;
}
/*==== section request =====*/
.section-request{
margin-top: 20px;
padding: 0px;

}
.request-container{
  padding: 2px;
  background-color: #F89406;
}
.call-text{
font-size: 24px;
color: #fff;
}
.button-request{
font-family: 'Source Sans Pro',sans-serif !important;
margin-top: 4px;
background-color: #2c3e50;
color: #fff;
text-decoration: none !important;
cursor: pointer;
font-size: 24px;
display: inline-block;
font-weight: 400;
padding: 5px 70px;
border-radius: 15px;
transition: background-color 0.3s;
}
.button-request:hover {
  background-color: #fff;
  color: #555;
}
.call-container{
  margin-top: 8px;
  background-color: #fff;
  color: #F89406;
  display: inline-block;
  padding: 2px 6px 2px 6px;
  font-size: 24px;
  border-radius: 5px;
}
/*=== overview ===*/
.section-overview
{
  background-image: url("../img/diagmonds.png");
  background-attachment: fixed;
  font-weight: 300;
}
.overview-icon{
font-size: 150px;
color: #fff;
padding-top: 10px;
/*margin-top: 80px !important;*/
/*padding-bottom: 0px;
margin-bottom: 0px;*/
display: inline-block;
}
.overview-text{
  
    padding: 40px;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 300;
    font-stretch: normal;
    font-size: 24px;
    line-height: 28px;
    font-family: Lato, sans-serif;
    color: #fff;

}
